<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/games']"><mat-icon>list</mat-icon></a>
  <a class="export" mat-raised-button color="primary" (click)="exportToFile()" ><mat-icon>input</mat-icon> Export to TXT</a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{game.title}}</h2></mat-card-title>
    <mat-card-subtitle>{{game.date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Platform:</dt>
      <dd>{{game.platform}}</dd>
      <dd> </dd>
      <dt>Category:</dt>
      <dd>{{game.category}}</dd>
      <dd> </dd>
      <dt>Producer:</dt>
      <dd>{{game.producer}}</dd>
      <dd> </dd>
      <dt>Publisher:</dt>
      <dd>{{game.publisher}}</dd>
      <dd> </dd>
      <dt>Tags:</dt>
      <dd *ngFor="let tag of game.tags">{{tag}}</dd>
      <dd> </dd>
      <dt>Similar:</dt>
      <dd *ngFor="let similar of game.similar">{{similar}}</dd>
      <dd> </dd>
      <dt>Rating:</dt>
      <dd>{{game.rating.value !== "" ? game.rating.value + "/10 of "+game.rating.quantity+" user votes" : game.rating.value}}</dd>
      <dd> </dd>
      <dt>Thumbs:</dt>
      <dd>{{"Up: "+ game.thumbs.up}}</dd>
      <dd>{{"Down: "+ game.thumbs.down}}</dd>
      <dd> </dd>
      <dt>Hardware:</dt>
      <dd *ngFor="let hr of game.hardware_req">{{hr}}</dd>
      <dd> </dd>
      <dt>Comments:</dt>
      <dd *ngFor="let comm of game.comments">
        <dl id="innerList">
          <dt>Date:</dt>
          <dd>{{comm.date}}</dd>
          <dt>User:</dt>
          <dd>{{comm.login}}</dd>
          <dt>Rank:</dt>
          <dd>{{comm.rank}}</dd>
          <dt>Degree:</dt>
          <dd>{{comm.degree}}</dd>
          <dt>Content:</dt>
          <dd>{{comm.contents}}</dd>
        </dl>
      </dd>
      <dd> </dd>
    </dl>
  </mat-card-content>
</mat-card>
